* {
  margin: 0%;
  padding: 0%;
}

.header {
  color: aliceblue;
  width: 100%;
  min-height: 15vh;
  background-color: rgb(235, 123, 124);
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.note {
  font-size: 13px;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.add {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 25px;
  color: rgb(235, 123, 124);
  cursor: pointer;
  background-color: rgba(255, 255, 65, 0.924);
}
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
